@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*NAV*/

nav {
    background-color: yellowgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    margin: 0 30px;
}

a {
    font-size: 24px;
    color: black;
    margin: 0 24px;
}

.links__footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    animation: float 2000ms infinite alternate-reverse;
    transition: all 300px;
}    

@keyframes float{
    0%{transform: translateX(0px);}
    100%{transform: translateY(10px);}
}
    
.img__logo {
    height: 160px;
    border-radius: 50%;
    margin: 24px 24px;
    animation: float 2000ms infinite alternate-reverse;
    transition: all 300px;
}

@keyframes float{
    0%{transform: translateX(0px);}
    100%{transform: translateY(10px);}
}

/*ABOUT*/

h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 0 24px;
    padding-top: 24px;
    animation: float 2000ms infinite alternate-reverse;
    transition: all 300px;
}

@keyframes float{
    0%{transform: translateX(0px);}
    100%{transform: translateY(10px);}
}

.para1 {
    text-align: center;
    font-size: 24px;
    margin: 40px 24px;
}

.para2 {
    font-size: 20px;
    margin: 0 24px;
}

.about {
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img__one {
    width: 360px;
    height: 200px;
    margin-top: 34px;
    border-radius: 30px;
    margin-bottom: 34px;
}

/* CONTACT */

.para3 {
    font-size: 20px;
    margin: 24px;
}

.buttonfix {
    font-size: 18px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 35%;
    cursor: pointer;
    margin: 24px 24px;
    animation: float 2000ms infinite alternate-reverse;
    transition: all 300ms;
}


@keyframes float{
    0%{transform: translateY(0px);}
    100%{transform: translateX(10px);}
}

#contact {
    background-color: orange;
}

.contact__fix {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.color__fix {
    background-color: yellowgreen;
}

input, textarea{
    font-size: 20px;
    padding: 6px 12px;
}

/* REVIEWS */

#reviews {
    background-color: lightcoral;
}

li {
    padding: 20px 24px;
    list-style-type: none;
}



/* FOOTER */

footer {
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img__footer{
    width: 160px;
    height: 120px;
    margin: 24px 24px;
    border-radius: 50%;
    animation: float 2000ms infinite alternate-reverse;
    transition: all 300px;
}

@keyframes float{
    0%{transform: translateX(0px);}
    100%{transform: translateY(10px);}
}

.copy__right{
    margin: 24px;
    font-size: 16px;
    text-decoration: underline;
}

@media (max-width:320px) {

    .img__logo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 24px auto;
        width: 60%;
    }

    .img__one{
        margin: 24px 24px;
        padding: 24px;
        border-radius: 30%;
    }

    .links{
        display: none;
    }

    .img__one--320px{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .links__footer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .links__space{
        margin: 8px;
    }

    h1{
        font-size: 40px;
    }
}